<a href="https://colab.research.google.com/github/Sergius-DS/elecciOn_datasets/blob/main/buscar_datasets_s19_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA SET DIABETES

## FUNCIONES

Crear funciones para luego llamarlas desde un archivo aparte como cuando uno llama import pandas o from sklearn import (algo), así se ve más estético el notebook en Colab

In [1]:
%%writefile funciones.py
import pandas as pd
import numpy as np

# crear funcion para transformar columnas en valores binarios
def categorizar_columnas(df, columnas):
    for columna in columnas:
        df[columna] = df[columna].apply(lambda x: 1 if x == 'SI' else 0).astype(int)
    return df[columnas].head()



# FUNCIÓN PARA VERFICAR FILAS

def verifica_consistencia_filas(df):

    """
    Comprueba si el contenido de las filas coincide con la descripción de dtypes del DataFrame.

    Args:
    df (pd.DataFrame): El DataFrame que se va a comprobar.

    Lo que será Retornado:
    pd.DataFrame: Un DataFrame con valores booleanos que indican si los valores de cada
    fila son coherentes con los tipos de datos de la columna.
    True indica coherencia, False indica incoherencia.
    """

    # Crea un Data Frame vacío para guardar los resultados
    result_df = pd.DataFrame(index=df.index, columns=df.columns, dtype=bool)

    # Recorre cada columna y fila para revisar consistencia
    for col in df.columns:
        # Verifica si el tipo de dato es numéric0 (int o float)
        is_numeric = pd.api.types.is_numeric_dtype(df[col].dtype)

        # Verifica la consistencia de cada fila en la columna actual
        if is_numeric:
            result_df[col] = pd.to_numeric(df[col], errors='coerce').notna()
        else:
            # Verifica que los datos son del tipo string, object
            result_df[col] = df[col] == df[col].astype('object')

    return result_df

# crear funcion para transformar columnas en valores binarios
def columnas_a_fecha(df, columnas):
    for columna in columnas:
        df[columna] = pd.to_datetime(df[columna], format='%Y%m%d', errors='coerce')
    return df[columnas].head()

Writing funciones.py

# DATA SET 2

In [12]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
# llamar las funciones creadas también se puede from funciones import *
#from funciones import categorizar_columnas, verifica_consistencia_filas
from funciones import *
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

from sklearn.model_selection import train_test_split

In [28]:
data = pd.read_csv('Afiliados_activos_DM_SIS.csv')

In [29]:
data.head()

,FECHA_CORTE,FECHA_AFILIADOS_SIS,CODIGO_ANONIMIZADO,EDAD,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,FECHA_PRIMER_DX,TIPO_DIABETES,CON_DX_OBESIDAD,CON_DX_HIPERTENSION,CON_DX_SALUDMENTAL,CANT_ATENCIONES,VALOR_NETO,CANT_ATENCIONES_HOSP,VALOR_NETO_HOSP,DIAS_HOSP,UBIGEO_ULT_ATE,DEPARTAMENTO_ULT_ATE,PROVINCIA_ULT_ATE,DISTRITO_ULT_ATE,NIVEL_ULT_ATE
0,20240426,20230331,52BAEBEF1D09B9768E7B4CF5B3513538B2C45E06EF861F...,65,70106,CALLAO,PROV. CONST. DEL CALLAO,VENTANILLA,FEMENINO,20220620,Diabetes mellitus no especificada,NaN,NaN,NaN,0,0.00,0,0.00,0,NaN,NaN,NaN,NaN,NaN
1,20240426,20230331,7FD6261B4EA46FF607C1BA139B94C73CC0446E2FC7B877...,13,80907,CUSCO,LA CONVENCIÓN,KIMBIRI,MASCULINO,20221001,Diabetes mellitus tipo 2,NaN,NaN,NaN,0,0.00,0,0.00,0,NaN,NaN,NaN,NaN,NaN
2,20240426,20230331,FFBE798BE21A94EB56BB8A0B7FBDEC07AFB8824A688294...,96,150701,LIMA,HUAROCHIRÍ,MATUCANA,FEMENINO,20191216,Diabetes mellitus tipo 2,SI,NaN,SI,0,0.00,0,0.00,0,NaN,NaN,NaN,NaN,NaN
3,20240426,20230331,A063A90D386099DDBD7AEA15F5F2A96FDCA3B2E326A02C...,60,20801,ÁNCASH,CASMA,CASMA,FEMENINO,20191216,Diabetes mellitus tipo 1,NaN,SI,NaN,0,0.00,0,0.00,0,NaN,NaN,NaN,NaN,NaN
4,20240426,20230331,648654B6F9D7538441DAA9987966AD163941F0755C809B...,56,70101,CALLAO,PROV. CONST. DEL CALLAO,CALLAO,MASCULINO,20181029,Diabetes mellitus no especificada,SI,SI,NaN,1,17.73,0,0.00,0,70101.00,CALLAO,PROV. CONST. DEL CALLAO,CALLAO,1.00

In [31]:
data.shape

(1735940, 24)

In [32]:
data.columns

Index(['FECHA_CORTE', 'FECHA_AFILIADOS_SIS', 'CODIGO_ANONIMIZADO', 'EDAD',
       'UBIGEO', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'SEXO',
       'FECHA_PRIMER_DX', 'TIPO_DIABETES', 'CON_DX_OBESIDAD',
       'CON_DX_HIPERTENSION', 'CON_DX_SALUDMENTAL', 'CANT_ATENCIONES',
       'VALOR_NETO', 'CANT_ATENCIONES_HOSP', 'VALOR_NETO_HOSP', 'DIAS_HOSP',
       'UBIGEO_ULT_ATE', 'DEPARTAMENTO_ULT_ATE', 'PROVINCIA_ULT_ATE',
       'DISTRITO_ULT_ATE', 'NIVEL_ULT_ATE'],
      dtype='object')

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735940 entries, 0 to 1735939
Data columns (total 24 columns):
 #   Column                Dtype
---  ------                -----
 0   FECHA_CORTE           int64
 1   FECHA_AFILIADOS_SIS   int64
 2   CODIGO_ANONIMIZADO    object
 3   EDAD                  int64
 4   UBIGEO                int64
 5   DEPARTAMENTO          object
 6   PROVINCIA             object
 7   DISTRITO              object
 8   SEXO                  object
 9   FECHA_PRIMER_DX       int64
 10  TIPO_DIABETES         object
 11  CON_DX_OBESIDAD       object
 12  CON_DX_HIPERTENSION   object
 13  CON_DX_SALUDMENTAL    object
 14  CANT_ATENCIONES       int64
 15  VALOR_NETO            float64
 16  CANT_ATENCIONES_HOSP  int64
 17  VALOR_NETO_HOSP       float64
 18  DIAS_HOSP             int64
 19  UBIGEO_ULT_ATE        float64
 20  DEPARTAMENTO_ULT_ATE  object
 21  PROVINCIA_ULT_ATE     object
 22  DISTRITO_ULT_ATE      object
 23  NIVEL_ULT_ATE         float64
dtypes: float64(4), int64(8), object(12)
memory usage: 317.9+ MB

In [34]:
data.FECHA_CORTE.value_counts()

FECHA_CORTE
20240426    1735940
Name: count, dtype: int64

Dado que la columna FECHA_CORTE	tiene un solo valor que es la fecha hasta la cual se ingresaron datos al dataset, considero que no agrega valor al análisis por lo que lo eliminaremos

In [35]:
data.drop('FECHA_CORTE', axis=1, inplace=True)

In [36]:
data.DEPARTAMENTO.value_counts()

DEPARTAMENTO
LIMA             668296
PIURA            134433
LA LIBERTAD      116812
CALLAO            89114
SAN MARTÍN        76216
LORETO            68298
ÁNCASH            66793
LAMBAYEQUE        65688
ICA               52180
AREQUIPA          49804
CAJAMARCA         48102
JUNÍN             45480
UCAYALI           35020
CUSCO             33150
HUÁNUCO           27102
TUMBES            25163
PUNO              22772
AYACUCHO          21604
TACNA             21353
AMAZONAS          16648
MADRE DE DIOS     13469
APURÍMAC          11308
MOQUEGUA          10767
PASCO              8334
HUANCAVELICA       8034
Name: count, dtype: int64

In [37]:
data.DIAS_HOSP.value_counts()

DIAS_HOSP
0      1709458
3         2266
4         2136
2         1977
5         1929
        ...
127          1
198          1
172          1
125          1
138          1
Name: count, Length: 161, dtype: int64

In [38]:
# Creando  la nueva columna HOSPITALIZADO
data['HOSPITALIZADO'] = data['DIAS_HOSP'].apply(lambda x: 1 if x > 0 else 0)

In [39]:
data.HOSPITALIZADO.value_counts()

HOSPITALIZADO
0    1709458
1      26482
Name: count, dtype: int64

In [40]:
data.isnull().sum()

FECHA_AFILIADOS_SIS           0
CODIGO_ANONIMIZADO            0
EDAD                          0
UBIGEO                        0
DEPARTAMENTO                  0
PROVINCIA                     0
DISTRITO                      0
SEXO                          0
FECHA_PRIMER_DX               0
TIPO_DIABETES                 0
CON_DX_OBESIDAD          633509
CON_DX_HIPERTENSION     1080678
CON_DX_SALUDMENTAL      1357231
CANT_ATENCIONES               0
VALOR_NETO                    0
CANT_ATENCIONES_HOSP          0
VALOR_NETO_HOSP               0
DIAS_HOSP                     0
UBIGEO_ULT_ATE          1214440
DEPARTAMENTO_ULT_ATE    1214440
PROVINCIA_ULT_ATE       1214440
DISTRITO_ULT_ATE        1214440
NIVEL_ULT_ATE           1214444
HOSPITALIZADO                 0
dtype: int64

In [41]:
missing_percentage = (data.isnull().sum() / len(data)) * 100
missing_percentage

FECHA_AFILIADOS_SIS     0.00
CODIGO_ANONIMIZADO      0.00
EDAD                    0.00
UBIGEO                  0.00
DEPARTAMENTO            0.00
PROVINCIA               0.00
DISTRITO                0.00
SEXO                    0.00
FECHA_PRIMER_DX         0.00
TIPO_DIABETES           0.00
CON_DX_OBESIDAD        36.49
CON_DX_HIPERTENSION    62.25
CON_DX_SALUDMENTAL     78.18
CANT_ATENCIONES         0.00
VALOR_NETO              0.00
CANT_ATENCIONES_HOSP    0.00
VALOR_NETO_HOSP         0.00
DIAS_HOSP               0.00
UBIGEO_ULT_ATE         69.96
DEPARTAMENTO_ULT_ATE   69.96
PROVINCIA_ULT_ATE      69.96
DISTRITO_ULT_ATE       69.96
NIVEL_ULT_ATE          69.96
HOSPITALIZADO           0.00
dtype: float64

In [42]:
data.duplicated().sum()

0

In [43]:
data.CON_DX_HIPERTENSION.value_counts()

CON_DX_HIPERTENSION
SI    655262
Name: count, dtype: int64

In [44]:
data.CON_DX_OBESIDAD.value_counts()

CON_DX_OBESIDAD
SI    1102431
Name: count, dtype: int64

Vemos que en las columnas 'CON_DX_OBESIDAD', 'CON_DX_HIPERTENSION', 'CON_DX_SALUDMENTAL' hay un solo valor 'SI' y el resto son valores nulos, podriamos considerar que los nulos representan que no tienen ese diagnóstico, podríamos dar un valor 1 cuando sea 'SI' y 0 cuando sea nulo

In [45]:
# cambiar columnas a valores binarios 1 o 0
categorizar_columnas(data, ['CON_DX_OBESIDAD', 'CON_DX_HIPERTENSION', 'CON_DX_SALUDMENTAL'])

   CON_DX_OBESIDAD  CON_DX_HIPERTENSION  CON_DX_SALUDMENTAL
0                0                    0                   0
1                0                    0                   0
2                1                    0                   1
3                0                    1                   0
4                1                    1                   0

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735940 entries, 0 to 1735939
Data columns (total 24 columns):
 #   Column                Dtype
---  ------                -----
 0   FECHA_AFILIADOS_SIS   int64
 1   CODIGO_ANONIMIZADO    object
 2   EDAD                  int64
 3   UBIGEO                int64
 4   DEPARTAMENTO          object
 5   PROVINCIA             object
 6   DISTRITO              object
 7   SEXO                  object
 8   FECHA_PRIMER_DX       int64
 9   TIPO_DIABETES         object
 10  CON_DX_OBESIDAD       int64
 11  CON_DX_HIPERTENSION   int64
 12  CON_DX_SALUDMENTAL    int64
 13  CANT_ATENCIONES       int64
 14  VALOR_NETO            float64
 15  CANT_ATENCIONES_HOSP  int64
 16  VALOR_NETO_HOSP       float64
 17  DIAS_HOSP             int64
 18  UBIGEO_ULT_ATE        float64
 19  DEPARTAMENTO_ULT_ATE  object
 20  PROVINCIA_ULT_ATE     object
 21  DISTRITO_ULT_ATE      object
 22  NIVEL_ULT_ATE         float64
 23  HOSPITALIZADO         int64
dtypes: float64(4), int64(11), object(9)
memory usage: 317.9+ MB

In [47]:
data.isnull().sum()

FECHA_AFILIADOS_SIS           0
CODIGO_ANONIMIZADO            0
EDAD                          0
UBIGEO                        0
DEPARTAMENTO                  0
PROVINCIA                     0
DISTRITO                      0
SEXO                          0
FECHA_PRIMER_DX               0
TIPO_DIABETES                 0
CON_DX_OBESIDAD               0
CON_DX_HIPERTENSION           0
CON_DX_SALUDMENTAL            0
CANT_ATENCIONES               0
VALOR_NETO                    0
CANT_ATENCIONES_HOSP          0
VALOR_NETO_HOSP               0
DIAS_HOSP                     0
UBIGEO_ULT_ATE          1214440
DEPARTAMENTO_ULT_ATE    1214440
PROVINCIA_ULT_ATE       1214440
DISTRITO_ULT_ATE        1214440
NIVEL_ULT_ATE           1214444
HOSPITALIZADO                 0
dtype: int64

In [48]:
data.UBIGEO_ULT_ATE.value_counts()

UBIGEO_ULT_ATE
150132.00    19316
150101.00    18549
150135.00    14012
150103.00    13963
150133.00    12881
             ...
101007.00        1
90402.00         1
40512.00         1
30713.00         1
160702.00        1
Name: count, Length: 1774, dtype: int64

Las columnas:

UBIGEO_ULT_ATE
DEPARTAMENTO_ULT_ATE
PROVINCIA_ULT_ATE
DISTRITO_ULT_ATE
NIVEL_ULT_ATE

Se refieren al Ubigeo,departamento,provincia,distrito y nivel del establecimiento de salud  de la última atención recibida por el afiliado que consideramos no es información relevante para la variable objetivo que es HOSPITALIZADO

In [49]:
# Eliminamos las columnas referidas
data.drop(['UBIGEO','UBIGEO_ULT_ATE', 'DEPARTAMENTO_ULT_ATE', 'PROVINCIA_ULT_ATE', 'DISTRITO_ULT_ATE', 'NIVEL_ULT_ATE'], axis=1, inplace=True)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735940 entries, 0 to 1735939
Data columns (total 18 columns):
 #   Column                Dtype
---  ------                -----
 0   FECHA_AFILIADOS_SIS   int64
 1   CODIGO_ANONIMIZADO    object
 2   EDAD                  int64
 3   DEPARTAMENTO          object
 4   PROVINCIA             object
 5   DISTRITO              object
 6   SEXO                  object
 7   FECHA_PRIMER_DX       int64
 8   TIPO_DIABETES         object
 9   CON_DX_OBESIDAD       int64
 10  CON_DX_HIPERTENSION   int64
 11  CON_DX_SALUDMENTAL    int64
 12  CANT_ATENCIONES       int64
 13  VALOR_NETO            float64
 14  CANT_ATENCIONES_HOSP  int64
 15  VALOR_NETO_HOSP       float64
 16  DIAS_HOSP             int64
 17  HOSPITALIZADO         int64
dtypes: float64(2), int64(10), object(6)
memory usage: 238.4+ MB

In [51]:
data.describe()

,FECHA_AFILIADOS_SIS,EDAD,FECHA_PRIMER_DX,CON_DX_OBESIDAD,CON_DX_HIPERTENSION,CON_DX_SALUDMENTAL,CANT_ATENCIONES,VALOR_NETO,CANT_ATENCIONES_HOSP,VALOR_NETO_HOSP,DIAS_HOSP,HOSPITALIZADO
count,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00
mean,20230640.14,55.75,20203280.89,0.64,0.38,0.22,0.56,52.88,0.02,40.63,0.18,0.02
std,244.34,16.81,17695.02,0.48,0.48,0.41,1.15,821.75,0.15,811.69,2.58,0.12
min,20230331.00,0.00,20180101.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,20230331.00,46.00,20190122.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,20230630.00,57.00,20201019.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,20230930.00,68.00,20220523.00,1.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
max,20230930.00,119.00,20230930.00,1.00,1.00,1.00,134.00,232695.27,13.00,232695.27,378.00,1.00

In [52]:
# Transformar columnas a formato fecha
columnas_a_fecha(data, ['FECHA_AFILIADOS_SIS', 'FECHA_PRIMER_DX'])

  FECHA_AFILIADOS_SIS FECHA_PRIMER_DX
0          2023-03-31      2022-06-20
1          2023-03-31      2022-10-01
2          2023-03-31      2019-12-16
3          2023-03-31      2019-12-16
4          2023-03-31      2018-10-29

In [53]:
data.head()

,FECHA_AFILIADOS_SIS,CODIGO_ANONIMIZADO,EDAD,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,FECHA_PRIMER_DX,TIPO_DIABETES,CON_DX_OBESIDAD,CON_DX_HIPERTENSION,CON_DX_SALUDMENTAL,CANT_ATENCIONES,VALOR_NETO,CANT_ATENCIONES_HOSP,VALOR_NETO_HOSP,DIAS_HOSP,HOSPITALIZADO
0,2023-03-31,52BAEBEF1D09B9768E7B4CF5B3513538B2C45E06EF861F...,65,CALLAO,PROV. CONST. DEL CALLAO,VENTANILLA,FEMENINO,2022-06-20,Diabetes mellitus no especificada,0,0,0,0,0.00,0,0.00,0,0
1,2023-03-31,7FD6261B4EA46FF607C1BA139B94C73CC0446E2FC7B877...,13,CUSCO,LA CONVENCIÓN,KIMBIRI,MASCULINO,2022-10-01,Diabetes mellitus tipo 2,0,0,0,0,0.00,0,0.00,0,0
2,2023-03-31,FFBE798BE21A94EB56BB8A0B7FBDEC07AFB8824A688294...,96,LIMA,HUAROCHIRÍ,MATUCANA,FEMENINO,2019-12-16,Diabetes mellitus tipo 2,1,0,1,0,0.00,0,0.00,0,0
3,2023-03-31,A063A90D386099DDBD7AEA15F5F2A96FDCA3B2E326A02C...,60,ÁNCASH,CASMA,CASMA,FEMENINO,2019-12-16,Diabetes mellitus tipo 1,0,1,0,0,0.00,0,0.00,0,0
4,2023-03-31,648654B6F9D7538441DAA9987966AD163941F0755C809B...,56,CALLAO,PROV. CONST. DEL CALLAO,CALLAO,MASCULINO,2018-10-29,Diabetes mellitus no especificada,1,1,0,1,17.73,0,0.00,0,0

In [54]:
data.describe()

,FECHA_AFILIADOS_SIS,EDAD,FECHA_PRIMER_DX,CON_DX_OBESIDAD,CON_DX_HIPERTENSION,CON_DX_SALUDMENTAL,CANT_ATENCIONES,VALOR_NETO,CANT_ATENCIONES_HOSP,VALOR_NETO_HOSP,DIAS_HOSP,HOSPITALIZADO
count,1735940,1735940.00,1735940,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00,1735940.00
mean,2023-07-03 07:56:01.313409024,55.75,2020-09-19 21:01:33.047455232,0.64,0.38,0.22,0.56,52.88,0.02,40.63,0.18,0.02
min,2023-03-31 00:00:00,0.00,2018-01-01 00:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,2023-03-31 00:00:00,46.00,2019-01-22 00:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,2023-06-30 00:00:00,57.00,2020-10-19 00:00:00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,2023-09-30 00:00:00,68.00,2022-05-23 00:00:00,1.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
max,2023-09-30 00:00:00,119.00,2023-09-30 00:00:00,1.00,1.00,1.00,134.00,232695.27,13.00,232695.27,378.00,1.00
std,NaN,16.81,NaN,0.48,0.48,0.41,1.15,821.75,0.15,811.69,2.58,0.12

In [55]:
# Identificar las columnas numéricas
numeric_columns = data.select_dtypes(include=['int64', 'float64']).columns

# Filtrar columnas con valores binarios (0 y 1)
binary_columns = [
    col for col in numeric_columns if data[col].dropna().isin([0, 1]).all()
]

# Convertir las columnas binarias a int8
data[binary_columns] = data[binary_columns].astype('int8')

# Verificar el cambio de tipo
print(data[binary_columns].dtypes)

CON_DX_OBESIDAD        int8
CON_DX_HIPERTENSION    int8
CON_DX_SALUDMENTAL     int8
HOSPITALIZADO          int8
dtype: object

In [56]:
data['EDAD'] = data['EDAD'].astype('int8')

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735940 entries, 0 to 1735939
Data columns (total 18 columns):
 #   Column                Dtype
---  ------                -----
 0   FECHA_AFILIADOS_SIS   datetime64[ns]
 1   CODIGO_ANONIMIZADO    object
 2   EDAD                  int8
 3   DEPARTAMENTO          object
 4   PROVINCIA             object
 5   DISTRITO              object
 6   SEXO                  object
 7   FECHA_PRIMER_DX       datetime64[ns]
 8   TIPO_DIABETES         object
 9   CON_DX_OBESIDAD       int8
 10  CON_DX_HIPERTENSION   int8
 11  CON_DX_SALUDMENTAL    int8
 12  CANT_ATENCIONES       int64
 13  VALOR_NETO            float64
 14  CANT_ATENCIONES_HOSP  int64
 15  VALOR_NETO_HOSP       float64
 16  DIAS_HOSP             int64
 17  HOSPITALIZADO         int8
dtypes: datetime64[ns](2), float64(2), int64(3), int8(5), object(6)
memory usage: 180.5+ MB

In [58]:
# Verifica las categorías en la columna objetivo
print(f"Proporción antes de Reducir Set de Datos: \n{data['HOSPITALIZADO'].value_counts(normalize=True)}")

# Realiza un muestreo estratificado para reducir a 50% del tamaño original
data_sample, _ = train_test_split(
    data,
    test_size=0.5,  # Mantén el 50% del dataset original
    stratify=data['HOSPITALIZADO'],  # Estratifica por la columna HOSPITALIZADO
    random_state=42  # Para reproducibilidad
)

Proporción antes de Reducir Set de Datos:
HOSPITALIZADO
0   0.98
1   0.02
Name: proportion, dtype: float64

In [59]:
# Verifica la nueva distribución
print(data_sample['HOSPITALIZADO'].value_counts(normalize=True))

HOSPITALIZADO
0   0.98
1   0.02
Name: proportion, dtype: float64

In [60]:
data_sample.shape

(867970, 18)

In [61]:
data_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 867970 entries, 251168 to 1583376
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   FECHA_AFILIADOS_SIS   867970 non-null  datetime64[ns]
 1   CODIGO_ANONIMIZADO    867970 non-null  object
 2   EDAD                  867970 non-null  int8
 3   DEPARTAMENTO          867970 non-null  object
 4   PROVINCIA             867970 non-null  object
 5   DISTRITO              867970 non-null  object
 6   SEXO                  867970 non-null  object
 7   FECHA_PRIMER_DX       867970 non-null  datetime64[ns]
 8   TIPO_DIABETES         867970 non-null  object
 9   CON_DX_OBESIDAD       867970 non-null  int8
 10  CON_DX_HIPERTENSION   867970 non-null  int8
 11  CON_DX_SALUDMENTAL    867970 non-null  int8
 12  CANT_ATENCIONES       867970 non-null  int64
 13  VALOR_NETO            867970 non-null  float64
 14  CANT_ATENCIONES_HOSP  867970 non-null  int64
 15  VALOR_NETO_HOSP       867970 non-null  float64
 16  DIAS_HOSP             867970 non-null  int64
 17  HOSPITALIZADO         867970 non-null  int8
dtypes: datetime64[ns](2), float64(2), int64(3), int8(5), object(6)
memory usage: 96.8+ MB

In [62]:
# Guarda la muestra en un nuevo archivo CSV para usar en Power BI
#data_sample.to_csv('data_diabetes.csv', index=False)