<a href="https://colab.research.google.com/github/Sergius-DS/elecciOn_datasets/blob/main/buscar_datasets_s19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA SET DIABETES

## FUNCIONES

Crear funciones para luego llamarlas desde un archivo aparte como cuando uno llama import pandas o from sklearn import (algo), así se ve más estético el notebook en Colab

In [1]:
%%writefile funciones.py
import pandas as pd
import numpy as np
# crear funcion para transformar columnas en valores binarios
def categorizar_columnas(df, columnas):
    for columna in columnas:
        df[columna] = df[columna].apply(lambda x: 1 if x == 'SI' else 0).astype(int)
    return df[columnas].head()



# FUNCIÓN PARA VERFICAR FILAS

def verifica_consistencia_filas(df):

    """
    Comprueba si el contenido de las filas coincide con la descripción de dtypes del DataFrame.

    Args:
    df (pd.DataFrame): El DataFrame que se va a comprobar.

    Lo que será Retornado:
    pd.DataFrame: Un DataFrame con valores booleanos que indican si los valores de cada
    fila son coherentes con los tipos de datos de la columna.
    True indica coherencia, False indica incoherencia.
    """

    # Crea un Data Frame vacío para guardar los resultados
    result_df = pd.DataFrame(index=df.index, columns=df.columns, dtype=bool)

    # Recorre cada columna y fila para revisar consistencia
    for col in df.columns:
        # Verifica si el tipo de dato es numéric0 (int o float)
        is_numeric = pd.api.types.is_numeric_dtype(df[col].dtype)

        # Verifica la consistencia de cada fila en la columna actual
        if is_numeric:
            result_df[col] = pd.to_numeric(df[col], errors='coerce').notna()
        else:
            # Verifica que los datos son del tipo string, object
            result_df[col] = df[col] == df[col].astype('object')

    return result_df

Overwriting funciones.py

INICIO

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from funciones import categorizar_columnas, verifica_consistencia_filas

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
diabetes = pd.read_csv('Afiliados_activos_DM_SIS.csv')

In [5]:
diabetes.head(4)

,FECHA_CORTE,FECHA_AFILIADOS_SIS,CODIGO_ANONIMIZADO,EDAD,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,FECHA_PRIMER_DX,TIPO_DIABETES,CON_DX_OBESIDAD,CON_DX_HIPERTENSION,CON_DX_SALUDMENTAL,CANT_ATENCIONES,VALOR_NETO,CANT_ATENCIONES_HOSP,VALOR_NETO_HOSP,DIAS_HOSP,UBIGEO_ULT_ATE,DEPARTAMENTO_ULT_ATE,PROVINCIA_ULT_ATE,DISTRITO_ULT_ATE,NIVEL_ULT_ATE
0,20240426,20230331,52BAEBEF1D09B9768E7B4CF5B3513538B2C45E06EF861F...,65,70106,CALLAO,PROV. CONST. DEL CALLAO,VENTANILLA,FEMENINO,20220620,Diabetes mellitus no especificada,NaN,NaN,NaN,0,0.0,0,0.0,0,NaN,NaN,NaN,NaN,NaN
1,20240426,20230331,7FD6261B4EA46FF607C1BA139B94C73CC0446E2FC7B877...,13,80907,CUSCO,LA CONVENCIÓN,KIMBIRI,MASCULINO,20221001,Diabetes mellitus tipo 2,NaN,NaN,NaN,0,0.0,0,0.0,0,NaN,NaN,NaN,NaN,NaN
2,20240426,20230331,FFBE798BE21A94EB56BB8A0B7FBDEC07AFB8824A688294...,96,150701,LIMA,HUAROCHIRÍ,MATUCANA,FEMENINO,20191216,Diabetes mellitus tipo 2,SI,NaN,SI,0,0.0,0,0.0,0,NaN,NaN,NaN,NaN,NaN
3,20240426,20230331,A063A90D386099DDBD7AEA15F5F2A96FDCA3B2E326A02C...,60,20801,ÁNCASH,CASMA,CASMA,FEMENINO,20191216,Diabetes mellitus tipo 1,NaN,SI,NaN,0,0.0,0,0.0,0,NaN,NaN,NaN,NaN,NaN

In [6]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735940 entries, 0 to 1735939
Data columns (total 24 columns):
 #   Column                Dtype
---  ------                -----
 0   FECHA_CORTE           int64
 1   FECHA_AFILIADOS_SIS   int64
 2   CODIGO_ANONIMIZADO    object
 3   EDAD                  int64
 4   UBIGEO                int64
 5   DEPARTAMENTO          object
 6   PROVINCIA             object
 7   DISTRITO              object
 8   SEXO                  object
 9   FECHA_PRIMER_DX       int64
 10  TIPO_DIABETES         object
 11  CON_DX_OBESIDAD       object
 12  CON_DX_HIPERTENSION   object
 13  CON_DX_SALUDMENTAL    object
 14  CANT_ATENCIONES       int64
 15  VALOR_NETO            float64
 16  CANT_ATENCIONES_HOSP  int64
 17  VALOR_NETO_HOSP       float64
 18  DIAS_HOSP             int64
 19  UBIGEO_ULT_ATE        float64
 20  DEPARTAMENTO_ULT_ATE  object
 21  PROVINCIA_ULT_ATE     object
 22  DISTRITO_ULT_ATE      object
 23  NIVEL_ULT_ATE         float64
dtypes: float64(4), int64(8), object(12)
memory usage: 317.9+ MB

In [7]:
diabetes.shape

(1735940, 24)

In [8]:
# columnas a ser sacadas/eliminadas
sacar_cols = ['FECHA_CORTE', 'FECHA_AFILIADOS_SIS', 'UBIGEO_ULT_ATE', 'DEPARTAMENTO_ULT_ATE', 'PROVINCIA_ULT_ATE', 'DISTRITO_ULT_ATE', 'NIVEL_ULT_ATE']

In [9]:
diabetes.drop(columns=sacar_cols, inplace=True)

In [10]:
# detalles con las columnas removidas
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735940 entries, 0 to 1735939
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   CODIGO_ANONIMIZADO    object
 1   EDAD                  int64
 2   UBIGEO                int64
 3   DEPARTAMENTO          object
 4   PROVINCIA             object
 5   DISTRITO              object
 6   SEXO                  object
 7   FECHA_PRIMER_DX       int64
 8   TIPO_DIABETES         object
 9   CON_DX_OBESIDAD       object
 10  CON_DX_HIPERTENSION   object
 11  CON_DX_SALUDMENTAL    object
 12  CANT_ATENCIONES       int64
 13  VALOR_NETO            float64
 14  CANT_ATENCIONES_HOSP  int64
 15  VALOR_NETO_HOSP       float64
 16  DIAS_HOSP             int64
dtypes: float64(2), int64(6), object(9)
memory usage: 225.2+ MB

In [11]:
# visualización columnas con valores nulos
diabetes.isna().sum()

CODIGO_ANONIMIZADO            0
EDAD                          0
UBIGEO                        0
DEPARTAMENTO                  0
PROVINCIA                     0
DISTRITO                      0
SEXO                          0
FECHA_PRIMER_DX               0
TIPO_DIABETES                 0
CON_DX_OBESIDAD          633509
CON_DX_HIPERTENSION     1080678
CON_DX_SALUDMENTAL      1357231
CANT_ATENCIONES               0
VALOR_NETO                    0
CANT_ATENCIONES_HOSP          0
VALOR_NETO_HOSP               0
DIAS_HOSP                     0
dtype: int64

In [12]:
# creación de variable objetivo
diabetes['objetivo'] = diabetes['DIAS_HOSP'].apply(lambda x: 1 if x > 0 else 0)

In [13]:
# distribución de valores en la variable
diabetes['objetivo'].value_counts()

objetivo
0    1709458
1      26482
Name: count, dtype: int64

In [14]:
# datos duplicados
diabetes.duplicated().sum()

432219

In [15]:
# data frame sin duplicados
diabetes_no_duplicados = diabetes.drop_duplicates(keep='first')

In [16]:
diabetes_no_duplicados.duplicated().sum()

0

In [17]:
# distribución de valores en la variable
diabetes_no_duplicados['objetivo'].value_counts()

objetivo
0    1277241
1      26480
Name: count, dtype: int64

In [18]:
(diabetes_no_duplicados.isna().sum() / len(diabetes_no_duplicados) * 100).round(2)

CODIGO_ANONIMIZADO       0.00
EDAD                     0.00
UBIGEO                   0.00
DEPARTAMENTO             0.00
PROVINCIA                0.00
DISTRITO                 0.00
SEXO                     0.00
FECHA_PRIMER_DX          0.00
TIPO_DIABETES            0.00
CON_DX_OBESIDAD         34.72
CON_DX_HIPERTENSION     60.52
CON_DX_SALUDMENTAL      77.54
CANT_ATENCIONES          0.00
VALOR_NETO               0.00
CANT_ATENCIONES_HOSP     0.00
VALOR_NETO_HOSP          0.00
DIAS_HOSP                0.00
objetivo                 0.00
dtype: float64

In [19]:
# Usando la función verifica_consistencia_filas
consistency_df = verifica_consistencia_filas(diabetes_no_duplicados)

# Obtiene filas con inconsistencias:
inconsistent_rows = consistency_df[consistency_df.any(axis=1) == False]
print("Filas Inconsistentes:")
print(inconsistent_rows)

Filas Inconsistentes:
Empty DataFrame
Columns: [CODIGO_ANONIMIZADO, EDAD, UBIGEO, DEPARTAMENTO, PROVINCIA, DISTRITO, SEXO, FECHA_PRIMER_DX, TIPO_DIABETES, CON_DX_OBESIDAD, CON_DX_HIPERTENSION, CON_DX_SALUDMENTAL, CANT_ATENCIONES, VALOR_NETO, CANT_ATENCIONES_HOSP, VALOR_NETO_HOSP, DIAS_HOSP, objetivo]
Index: []

Observaciones:

No se encontraron filas inconsistentes con su tipo de dato dtype

In [22]:
# cambiar columnas a valores binarios 1 o 0
categorizar_columnas(diabetes_no_duplicados, ['CON_DX_OBESIDAD', 'CON_DX_HIPERTENSION', 'CON_DX_SALUDMENTAL'])

   CON_DX_OBESIDAD  CON_DX_HIPERTENSION  CON_DX_SALUDMENTAL
0                0                    0                   0
1                0                    0                   0
2                0                    0                   0
3                0                    0                   0
4                0                    0                   0

In [21]:
#diabetes['TIPO_DIABETES'].value_counts()

Observaciones:

...