<a href="https://colab.research.google.com/github/Sergius-DS/elecciOn_datasets/blob/main/buscar_datasets_s19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA SET DIABETES

In [10]:
import pandas as pd
import numpy as np

In [43]:
pd.set_option('display.max_columns', None)

In [44]:
diabetes = pd.read_csv('Afiliados_activos_DM_SIS.csv')

In [47]:
diabetes.head(4)

,FECHA_CORTE,FECHA_AFILIADOS_SIS,CODIGO_ANONIMIZADO,EDAD,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,FECHA_PRIMER_DX,TIPO_DIABETES,CON_DX_OBESIDAD,CON_DX_HIPERTENSION,CON_DX_SALUDMENTAL,CANT_ATENCIONES,VALOR_NETO,CANT_ATENCIONES_HOSP,VALOR_NETO_HOSP,DIAS_HOSP,UBIGEO_ULT_ATE,DEPARTAMENTO_ULT_ATE,PROVINCIA_ULT_ATE,DISTRITO_ULT_ATE,NIVEL_ULT_ATE
0,20240426,20230331,52BAEBEF1D09B9768E7B4CF5B3513538B2C45E06EF861F...,65,70106,CALLAO,PROV. CONST. DEL CALLAO,VENTANILLA,FEMENINO,20220620,Diabetes mellitus no especificada,NaN,NaN,NaN,0,0.0,0,0.0,0,NaN,NaN,NaN,NaN,NaN
1,20240426,20230331,7FD6261B4EA46FF607C1BA139B94C73CC0446E2FC7B877...,13,80907,CUSCO,LA CONVENCIÓN,KIMBIRI,MASCULINO,20221001,Diabetes mellitus tipo 2,NaN,NaN,NaN,0,0.0,0,0.0,0,NaN,NaN,NaN,NaN,NaN
2,20240426,20230331,FFBE798BE21A94EB56BB8A0B7FBDEC07AFB8824A688294...,96,150701,LIMA,HUAROCHIRÍ,MATUCANA,FEMENINO,20191216,Diabetes mellitus tipo 2,SI,NaN,SI,0,0.0,0,0.0,0,NaN,NaN,NaN,NaN,NaN
3,20240426,20230331,A063A90D386099DDBD7AEA15F5F2A96FDCA3B2E326A02C...,60,20801,ÁNCASH,CASMA,CASMA,FEMENINO,20191216,Diabetes mellitus tipo 1,NaN,SI,NaN,0,0.0,0,0.0,0,NaN,NaN,NaN,NaN,NaN

In [48]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735940 entries, 0 to 1735939
Data columns (total 24 columns):
 #   Column                Dtype
---  ------                -----
 0   FECHA_CORTE           int64
 1   FECHA_AFILIADOS_SIS   int64
 2   CODIGO_ANONIMIZADO    object
 3   EDAD                  int64
 4   UBIGEO                int64
 5   DEPARTAMENTO          object
 6   PROVINCIA             object
 7   DISTRITO              object
 8   SEXO                  object
 9   FECHA_PRIMER_DX       int64
 10  TIPO_DIABETES         object
 11  CON_DX_OBESIDAD       object
 12  CON_DX_HIPERTENSION   object
 13  CON_DX_SALUDMENTAL    object
 14  CANT_ATENCIONES       int64
 15  VALOR_NETO            float64
 16  CANT_ATENCIONES_HOSP  int64
 17  VALOR_NETO_HOSP       float64
 18  DIAS_HOSP             int64
 19  UBIGEO_ULT_ATE        float64
 20  DEPARTAMENTO_ULT_ATE  object
 21  PROVINCIA_ULT_ATE     object
 22  DISTRITO_ULT_ATE      object
 23  NIVEL_ULT_ATE         float64
dtypes: float64(4), int64(8), object(12)
memory usage: 317.9+ MB

In [55]:
# columnas a ser sacadas/eliminadas
sacar_cols = ['FECHA_CORTE', 'FECHA_AFILIADOS_SIS', 'UBIGEO_ULT_ATE', 'DEPARTAMENTO_ULT_ATE', 'PROVINCIA_ULT_ATE', 'DISTRITO_ULT_ATE', 'NIVEL_ULT_ATE']

In [56]:
diabetes.drop(columns=sacar_cols, inplace=True)

In [57]:
# detalles con las columnas removidas
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735940 entries, 0 to 1735939
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   CODIGO_ANONIMIZADO    object
 1   EDAD                  int64
 2   UBIGEO                int64
 3   DEPARTAMENTO          object
 4   PROVINCIA             object
 5   DISTRITO              object
 6   SEXO                  object
 7   FECHA_PRIMER_DX       int64
 8   TIPO_DIABETES         object
 9   CON_DX_OBESIDAD       object
 10  CON_DX_HIPERTENSION   object
 11  CON_DX_SALUDMENTAL    object
 12  CANT_ATENCIONES       int64
 13  VALOR_NETO            float64
 14  CANT_ATENCIONES_HOSP  int64
 15  VALOR_NETO_HOSP       float64
 16  DIAS_HOSP             int64
dtypes: float64(2), int64(6), object(9)
memory usage: 225.2+ MB

In [58]:
# visualización columnas con valores nulos
diabetes.isna().sum()

CODIGO_ANONIMIZADO            0
EDAD                          0
UBIGEO                        0
DEPARTAMENTO                  0
PROVINCIA                     0
DISTRITO                      0
SEXO                          0
FECHA_PRIMER_DX               0
TIPO_DIABETES                 0
CON_DX_OBESIDAD          633509
CON_DX_HIPERTENSION     1080678
CON_DX_SALUDMENTAL      1357231
CANT_ATENCIONES               0
VALOR_NETO                    0
CANT_ATENCIONES_HOSP          0
VALOR_NETO_HOSP               0
DIAS_HOSP                     0
dtype: int64

In [60]:
# creación de variable objetivo
diabetes['objetivo'] = diabetes['DIAS_HOSP'].apply(lambda x: 1 if x > 0 else 0)

In [61]:
# distribución de valores en la variable
diabetes['objetivo'].value_counts()

objetivo
0    1709458
1      26482
Name: count, dtype: int64

In [66]:
# datos duplicados
diabetes.duplicated().sum()

432219

In [67]:
# data frame sin duplicados
diabetes_no_duplicados = diabetes.drop_duplicates(keep='first')

In [68]:
diabetes_no_duplicados.duplicated().sum()

0

In [69]:
#diabetes['TIPO_DIABETES'].value_counts()

Observaciones:

...