<a href="https://colab.research.google.com/github/Sergius-DS/elecciOn_datasets/blob/main/buscar_datasets_s19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
diabetes = pd.read_csv('Afiliados_activos_DM_SIS.csv')

In [9]:
diabetes.head(4)

,FECHA_CORTE,FECHA_AFILIADOS_SIS,CODIGO_ANONIMIZADO,EDAD,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,FECHA_PRIMER_DX,TIPO_DIABETES,CON_DX_OBESIDAD,CON_DX_HIPERTENSION,CON_DX_SALUDMENTAL,CANT_ATENCIONES,VALOR_NETO,CANT_ATENCIONES_HOSP,VALOR_NETO_HOSP,DIAS_HOSP,UBIGEO_ULT_ATE,DEPARTAMENTO_ULT_ATE,PROVINCIA_ULT_ATE,DISTRITO_ULT_ATE,NIVEL_ULT_ATE
0,20240426,20230331,52BAEBEF1D09B9768E7B4CF5B3513538B2C45E06EF861F...,65,70106,CALLAO,PROV. CONST. DEL CALLAO,VENTANILLA,FEMENINO,20220620.0,Diabetes mellitus no especificada,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,20240426,20230331,7FD6261B4EA46FF607C1BA139B94C73CC0446E2FC7B877...,13,80907,CUSCO,LA CONVENCIÓN,KIMBIRI,MASCULINO,20221001.0,Diabetes mellitus tipo 2,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,20240426,20230331,FFBE798BE21A94EB56BB8A0B7FBDEC07AFB8824A688294...,96,150701,LIMA,HUAROCHIRÍ,MATUCANA,FEMENINO,20191216.0,Diabetes mellitus tipo 2,SI,NaN,SI,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,20240426,20230331,A063A90D386099DDBD7AEA15F5F2A96FDCA3B2E326A02C...,60,20801,ÁNCASH,CASMA,CASMA,FEMENINO,20191216.0,Diabetes mellitus tipo 1,NaN,SI,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [5]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340476 entries, 0 to 340475
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   FECHA_CORTE           340476 non-null  int64
 1   FECHA_AFILIADOS_SIS   340476 non-null  int64
 2   CODIGO_ANONIMIZADO    340476 non-null  object
 3   EDAD                  340475 non-null  float64
 4   UBIGEO                340475 non-null  float64
 5   DEPARTAMENTO          340475 non-null  object
 6   PROVINCIA             340475 non-null  object
 7   DISTRITO              340475 non-null  object
 8   SEXO                  340475 non-null  object
 9   FECHA_PRIMER_DX       340475 non-null  float64
 10  TIPO_DIABETES         340475 non-null  object
 11  CON_DX_OBESIDAD       213239 non-null  object
 12  CON_DX_HIPERTENSION   127309 non-null  object
 13  CON_DX_SALUDMENTAL    72349 non-null   object
 14  CANT_ATENCIONES       340475 non-null  float64
 15  VALOR_NETO            340475 non-null  float64
 16  CANT_ATENCIONES_HOSP  340475 non-null  float64
 17  VALOR_NETO_HOSP       340475 non-null  float64
 18  DIAS_HOSP             340475 non-null  float64
 19  UBIGEO_ULT_ATE        101226 non-null  float64
 20  DEPARTAMENTO_ULT_ATE  101226 non-null  object
 21  PROVINCIA_ULT_ATE     101226 non-null  object
 22  DISTRITO_ULT_ATE      101226 non-null  object
 23  NIVEL_ULT_ATE         101223 non-null  float64
dtypes: float64(10), int64(2), object(12)
memory usage: 62.3+ MB

In [14]:
diabetes.isna().sum()

FECHA_CORTE                  0
FECHA_AFILIADOS_SIS          0
CODIGO_ANONIMIZADO           0
EDAD                         0
UBIGEO                       0
DEPARTAMENTO                 0
PROVINCIA                    1
DISTRITO                     1
SEXO                         1
FECHA_PRIMER_DX              1
TIPO_DIABETES                1
CON_DX_OBESIDAD         445105
CON_DX_HIPERTENSION     755391
CON_DX_SALUDMENTAL      950039
CANT_ATENCIONES              1
VALOR_NETO                   1
CANT_ATENCIONES_HOSP         1
VALOR_NETO_HOSP              1
DIAS_HOSP                    1
UBIGEO_ULT_ATE          844674
DEPARTAMENTO_ULT_ATE    844674
PROVINCIA_ULT_ATE       844674
DISTRITO_ULT_ATE        844674
NIVEL_ULT_ATE           844678
dtype: int64

In [10]:
diabetes['TIPO_DIABETES'].value_counts()

TIPO_DIABETES
Diabetes mellitus tipo 2                       867892
Diabetes mellitus  no especificada             263369
Diabetes mellitus tipo 1                        63303
Otras Diabetes mellitus especificada            14430
Diabetes mellitus asociada con desnutrición      2602
Name: count, dtype: int64

Observaciones:

Se podría dejar esta columna como columna objetivo(target) y las otras luego de un previo análisis de datos, como datos de entrenamiento.